/* Header */
header {
  width: 100%;
  text-align: center;
  height: auto;
  padding: 10px 0px;
  background-color: #fff;
  display: flex;
  align-items: center; /* Center items vertically */
}
/* Logo */
header .logo {
  margin-right: auto; /* Push logo to the left */
}
header .logo img {
  padding-bottom: 0px;
}
/* Navigation */
header .nav {
  margin: auto; /* Push navigation to the right */
}
/* Header Tabs */
header .headerTabs {
  padding-left: 0; /* Remove padding */
  display: flex; /* Use flexbox */
  align-items: center; /* Center items vertically */
}

header .headerTabs li {
  margin-left: 0px; /* Add margin between list items */
  position: relative;
}
header .headerTabs li span {
  font-size: 17px;
  cursor: pointer;
}
header .headerTabs li span img {
  margin-right: 0px;
}
header .headerTabs li span .badge {
  width: 18px;
  height: 18px;
  line-height: 15px;
  color: #fff;
  font-weight: 400;
  position: absolute;
  top: 10%;
  transform: translateY(-80%);
  left: 13px;
  background-color: #ff0000cb;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  padding: 1px;
}
.dropDownMenu{
  position: absolute;
  top: 34px;
  right: 0px;
  width: 138px;
  height: auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0 0 0 / 20%);
  padding: 10px 0px;
  z-index: 100;
}
.dropDownMenu li{
  width: 100%;
  list-style: none;
  margin: 0px !important;
}
.dropDownMenu li button{
  width: 100% !important;
  text-align: left !important;
  justify-content: flex-start !important;
  color: rgba(0, 0, 0, 0.9) !important;
  text-transform: capitalize !important;
  font-size: 16px !important;
  padding: 2px 10px !important;
}
.dropDownMenu li button svg{
  opacity: 0.9;
  margin-right: 6px !important;
  font-size: 20px;
}
.dropDownMenu li button:hover{
  background: rgba(0, 0, 0, 0.1) !important;
}