.checkout-container {
    margin: 20px 40px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .checktop {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .row {
    display: flex;
  }
  
  .checkleft,
  .checkright {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .section {
    margin-bottom: 20px;
    padding: 20px 40px;
  }
  
  .billing-details {
    display: flex;
    flex-direction: column;
  }
  
  .billing-details label {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .billing-details input,
  .billing-details select {
    font-size: 17px;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .additional-information {
    display: flex;
    flex-direction: column;
  }
  
  .additional-information label {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .additional-information textarea {
    font-size: 17px;
    margin-bottom: 0px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 300px;
    height: 150px;
    max-width: 300px;
    min-width: 300px;
  }
  
  .delivery-information {
    margin-top: 0px;
  }
  
  .delivery-option {
    margin-bottom: 10px;
  }
  
  .delivery-option label {
    display: flex;
    align-items: center;
  }
  
  .delivery-information p {
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
  }
  
  .delivery-information p span {
    color: #111681;
  }
  
  .order-details {
    padding: 20px;
    margin-bottom: 0px;
  }
  
  .order-details table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 20px;
  }
  
  .order-details th,
  .order-details td {
    border: 1px solid #cccccc1f;
    padding: 10px;
    text-align: left;
    color: #000000b7;
    font-weight: 500;
  }
  .order-details .money{
    color: #111681;
    font-weight: 500;
  }
  .order-details .title {
    font-size: 17px;
    font-weight: 550;
    color: #000000de;
    background-color: #80808018;
  }
  .payment-section {
    background-color: #f9f9f9; /* Light gray background color */
    padding: 20px;
    border-radius: 5px;
  }
.payment-method {
    margin-bottom: 0px; /* Spacing between payment methods */
  }
  .payment-method label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
.online-payment-form {
    margin-top: 15px; /* Spacing above the online payment form */
  }
.payment-section label {
    display: block; /* Each label on a new line */
    margin-top: 15px; /* Spacing between labels */
  }
  .copyRights{
    margin-bottom: 10px;
    text-align: center;
  }
  .copyRights p , .copyRights label{
    font-size: 16px;
  }
  .place-order-button {
    background-color: #111681;
    width: 50%; /* Set the width to a medium size */
    height: 55px;
    font-size: 17px;
    font-weight: 550;
    text-transform: uppercase;
    display: flex;
    justify-content: center; /* Horizontally center the button */
    align-items: center; /* Vertically center the button */
    color: #fff;
    margin: 0 auto; /* Center the button horizontally */
  }
  h2 {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 550;
    color: #000000de;
  }
  
  a {
    color: #111681;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline; /* Underline on hover */
  }
  hr {
    border: none;
    border-top: 2px solid #080a3db4;
    margin: 20px 0;
  }
  .alert-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff6a6;
    color: #f57c00;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
  }
  
  .alert {
    display: flex;
    align-items: center;
  }
  
  .icon {
    font-size: 20px;
    margin-right: 10px;
    color: #111681;
  }
  .message{
    font-size: 18px;
    font-weight: 400;
  }