/* Styles for the return part of the Facture component */
.thank {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: yellowgreen;
}

.save {
  text-align: center;
  background-color: red;
}

.save > div {
  margin-bottom: 10px;
}

.save > div:last-child {
  margin-bottom: 0;
}

