.single-product-page {
  margin: 20px 90px;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  border: none;
}
/* Container for pics section */
.pics {
  padding: 10px;
  margin-left: 0;
  margin-right: 45px;
}

/* Styles for the container of enlarged product image */
.enlarged-image {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Styles for the enlarged product image */
.enlarged-image img {
  max-width: 100%; /* Ensures the image is responsive */
  width: 450px; /* Fixed width for the enlarged image */
  height: auto;
  border: 2px solid #ddd;
  border-radius: 5px;
}

/* Styles for the container of product photos */
.product-photos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

/* Styles for individual product photos */
.product-photos img {
  margin-top: 25px;
  max-width: 90px; /* Fixed width for each product photo */
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Hover effect for zooming */
.product-photos img:hover {
  transform: scale(1.1);
}


/* Styles for the container of product details */
.product-details {
  width: 50%;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

/* Styles for product title */
.product-details h1 {
  font-size: 29px;
  font-weight: 500;
  color: #000000c4;
}

.product-details h3 {
  font-size: 30px;
  color: #008000;
  font-weight: 430;
  margin-left: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

.product-details h2 {
  font-size: 15px;
  font-weight: 550;
  color: #000000c4;
  margin-left: 5px;
}

/* Styles for product details like price, description, categories */
.product-details p {
  font-size: 17px;
  font-weight: 450;
  color: #000000c4;
  margin-bottom: 0px;
  margin-left: 5px;
}

/* Styles for Add to Cart button */
.product-details button {
  font-size: 16px;
  color: #fff;
  padding: 5px 10px;
  width: 125px;
  height: 45px;
  background: #050eaa;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-left: 8px;
  margin-top: 5px;
}

/* Styles for icon inside Add to Cart button */
.product-details button svg {
  margin-right: 0px;
}

/* Styles for Add to Wishlist container */
.product-details div {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 5px;
}

/* Styles for related products section */
.related-products {
  width: 100%;
  margin-top: 20px;
}

.related-products h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.productrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
