.dashbord {
    display: flex;
    position: relative;
}
  
  .SidBar {
    flex: 0 0 230px; /* Définir la largeur fixe de la barre latérale */
  }
.dash {
    display: flex;
    flex-direction: column; /* Aligner les éléments en colonne */
    margin-left: 270px;
    padding: 20px;
    margin-right: 10px;
    margin-top: 40px;
    max-height: 100%;
}
.timeframeOptions {
  display: flex;
  margin-top: 15px;
  margin-bottom: 20px;
}

.timeframeOption {
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.timeframeOption.selected {
  background-color: #111861; /* Color for the selected option */
  color: #fff; /* Text color for the selected option */
}

.timeframeOption:hover {
  background-color: #e0e0e0; /* Background color on hover */
}

.graph-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px; 
  padding: 20px; 
  background-color: #f9f9f9; /* Couleur de fond du conteneur du graphique */
  border-radius: 10px; /* Ajouter une bordure arrondie au conteneur */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Ajouter une ombre légère */
  width: 430px;
  height: 280px;
  
}

.widget {
  background-color: #f9f9f9;
  padding: 16px;
  text-align: center;
  margin-top: 18px;
  margin-left: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  height: 120px;
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.graphee{ 
  display: flex;
  margin-top: 20px;
  margin-left: 50px;
  text-align: center;
}
.total {
  margin-right: 110px;
    margin-top: -105px;
    background: #f9f9f9;
    font-size: 17px;
    color: black;
}
.totals{
  margin-right: 120px;
  margin-top: -15px;
  background: #f9f9f9;
  font-size: 16px;
  color: black;
}
.total1{
  margin-top: 5px;
  color: green;
  font-size: 14px;
}
.total2{
  margin-top: 7px;
  margin-right : 4px;
  color: red;
  font-size: 14px;
}
.totale{
  margin-right: 100px;
    margin-top: 6px;
    background: #f9f9f9;
    font-size: 20px;
    color: black;
}
.graph {
    margin-top: 15px; /* Ajouter un espace en haut du graphique */
    padding: 20px; /* Ajouter un remplissage autour du graphique */
    background-color: #f9f9f9; /* Couleur de fond du conteneur du graphique */
    border-radius: 10px; /* Ajouter une bordure arrondie au conteneur */
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.4); /* Ajouter une ombre légère */
    width: 580px;
    height: 350px;
    margin-right: 20px;
}
.graphe {
  margin-top: 15px; /* Ajouter un espace en haut du graphique */
  padding: 20px; /* Ajouter un remplissage autour du graphique */
  background-color: #f9f9f9; /* Couleur de fond du conteneur du graphique */
  border-radius: 10px; /* Ajouter une bordure arrondie au conteneur */
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.4); /* Ajouter une ombre légère */
  width: 220px;
  height: 350px;
  margin-right: 20px;
}