/* MySlider.css */
.home-slider {
  position: relative;
  padding: 0 70px; /* Add padding to both sides */
  margin: 20px auto; /* Center the slider with auto margins */
  max-width: 100%;
  overflow: hidden;
  height: 400px; /* Adjust the height as needed */
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Adjust the width to fill the slider */
  height: 100%; /* Adjust the height to fill the slider */
  flex-shrink: 0;
  position: relative;
  transition: opacity 0.5s ease; /* Add transition for smoother opacity change */
}

.slide img {
  max-width: 100%; /* Ensure the image scales proportionally */
  max-height: 100%; /* Ensure the image scales proportionally */
  width: auto;
  height: auto;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for visibility */
  color: aliceblue;
  border: none;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
