/* Styles for the product thumbnail container */
.productThumb {
  width: 270px;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 6px;
  padding: 0;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.productThumb .badge {
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  background: red;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 6px;
  z-index: 10;
}
.productThumb .promo {
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  background: #0ace0a;
  color: #fff;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 700;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 6px;
  z-index: 10;
}
.productThumb:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.productThumb .imgWrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.productThumb .imgWrapper img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.productThumb .imgWrapper:hover img {
  transform: scale(1.1);
}
.productThumb .imgWrapper .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.productThumb:hover .imgWrapper .overlay {
  opacity: 1;
}
.productThumb .imgWrapper .overlay ul {
  background: #fff;
  border-radius: 10px;
  padding: 5px 5px;
  display: flex;
  justify-content: space-between; /* Adjusted to space between */
  align-items: center;
  list-style: none;
}
.productThumb .imgWrapper .overlay ul li {
  padding: 0 3px; /* Adjust padding to create space between icons */
}
.productThumb .imgWrapper .overlay ul li .MuiSvgIcon-root {
  color: #07128b; /* Change icon color to blue */
}
.productThumb .info {
  background-color: #ffffffc7;
  padding: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.productThumb .categorie {
  color: #6c757d;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;
}
.productThumb label a {
  color: #000;
  font-weight: 650;
  font-size: 25px;
  text-decoration: none;
  line-height: 24px; /* Adjust line height for better spacing */
  display: block;
  margin-bottom: 5px;
  text-align: center;
}
.price-wrapper {
  display: flex;
  align-items: center;
}
.price-info {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 0px;
}

/* Styles for product price */
.productThumb .price {
  font-size: 22px;
  font-weight: 550;
  color: #050eaa;
}

/* Styles for old product price */
.productThumb .oldPrice {
  font-size: 16px;
  font-weight: 540;
  opacity: 0.8;
  color: #000;
  text-decoration: line-through;
  margin-right: 10px; /* Add margin to separate old price from price */
}

/* Styles for add to cart button */
.productThumb button {
  font-size: 19px;
  color: #fff;
  padding: 5px 10px;
  width: 125px;
  height: 45px;
  background: #050eaa;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-left: auto; 
  margin-top: 5px;
}

.productThumb button:hover {
  background: #0808c7a1;
}
