.productThumb {
  width: 300px;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 15px;
  padding: 0px;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.productThumb .badge{
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  background: red;
  z-index: 10;
  color: #fff;
  padding: 10px 25px;
  font-size: 16px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 5px;
}
.productThumb:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.productThumb .imgWrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.productThumb .imgWrapper img {
  transition: all 0.3s ease-in-out;
}

.productThumb .imgWrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background: rgba(255, 255, 255, 0.1);*/
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.productThumb:hover .imgWrapper .overlay {
  opacity: 1;
}

.productThumb .imgWrapper .overlay ul {
  background: #fff;
  width: 90px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #bce3c9;
  overflow: hidden;
}

.productThumb .imgWrapper .overlay ul li {
  margin-right: 20px !important;
}

.productThumb .imgWrapper .overlay ul li a {
  display: block;
  padding: 10px;
  border-right: 0.5px solid #bce3c9;
}

.productThumb .imgWrapper .overlay ul li a:hover svg {
  color: #000 !important;
  opacity: 0.7;
}

.productThumb .imgWrapper .overlay ul li a svg {
  color: blue !important;
  opacity: 1;
}
.productThumb:hover .imgWrapper .overlay{
  opacity: 1;
  transform: scale(1);
  background-color: rgba(255, 255, 255, 0.1);
}
.productThumb:hover .imgWrapper img {
  transform: scale(1.1);
}

.productThumb .info {
  padding: 16px;
}

.productThumb .categorie {
  color: #000;
  opacity: 0.8;
  font-size: 14px;
}
.productThumb label{
  margin: 10px 0px;
}
.productThumb label a {
  color: #000;
  font-weight: 550;
  font-size: 22px;
  text-decoration: none;
  line-height: 20px;
}
.productThumb .price {
  font-size: 19px;
  font-weight: 500;
  margin-right: 20px;
  color: blue;
}
.productThumb .oldPrice {
  font-size: 15px;
  opacity: 0.6;
  color: #000;
  margin-right: 20px ;
  text-decoration: line-through;
}

.productThumb button {
  font-size: 17px !important;
  color: #fff !important;
  padding: 5px 25px !important;
  background: blue !important;
  text-transform: capitalize !important;
}

.productThumb button:hover {
  background: #0808c7a1 !important;
  color: #fff !important;
}
