.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 560px;
  padding: 20px;
  max-height: 100vh;
  overflow-x: auto;
  transition: max-height 0.3s ease;
  border-top: 3px solid #111861;
  background-color: #111861; /* Couleur de fond */
  color: white; /* Couleur du texte */
}
.brand-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 20px;
  background: #111861;
}


.textes{
  font-size: 1em;
  font-weight: bold;
  margin-top: 8px;
  color: white;
  margin-left: 19px;
  background: #111861;
}
.logo {
  width: 50px; 
  height: 50px;
  margin-right: 10px; 
}

.brand-text {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  background: #111861;
}

.accordion-section {
  margin-bottom: 20px;
  color: white;
  background: #111861;
}

.title {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: white;
  background: #111861;
}

.title svg {
  margin-left: auto;
  background:#111861;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  color: white;
  background: #111861;
}

.accordion-content.open {
  max-height: 900px;
  background: #111861;
}

.sidebar-link {
  text-decoration: none;
  color: blue;
  display: block;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  background: #111861;
}

.sidebar-link svg {
  margin-right: 10px;
  color: white;
  background: #111861;
}
