.formu {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px 25px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.formu h2 {
  text-align: center;
  color: #111861;
  font-size: 28px;
  color: #333;
  font-weight: 600;
  margin-bottom: 0px;
}

.formu label {
  font-size: 17px;
  font-weight: 550;
  color: #000000be;
}

.formu input[type="email"],
.formu input[type="password"] {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #ccc; /* Added to include padding in width calculation */
}

.formu button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #111861;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* Added margin top */
}

.formu button:hover {
  background-color: #0056b3;
}

.formu p {
  color: #ff0000;
  margin-top: 10px;
  text-align: center;
}

.danger-alert {
  background-color: #f8d7da;
  border: 1px solid #dc3545;
  color: #721c24;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px; /* Added margin top */
}

.success-alert {
  background-color: #d4edda;
  border: 1px solid #28a745;
  color: #000;
  padding: 10px;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  margin-top: 20px; /* Added margin top */
}
