.sign {
  height: 100%;
  width: 100%;
  display: flex;
  margin-left: 40px;
}

.signup-page {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.signupformu {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 28px;
  text-align: center;
  color: #111861;
  font-weight: bold;
  margin-left: -140px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="date"] {
  width: 200%;
  max-width: 800px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.form-group input[type="checkbox"] {
  margin-right: 5px;
}

.form-group p {
  margin-top: 5px;
  color: red;
}

.signupbotton {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 12px;
  border: none;
  border-radius: 3px;
  background-color: #111861;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin-right: 350px;
}

.signupbotton :hover {
  background-color: #45a;
}

.ppp {
  text-align: center;
  margin-top: 26px;
  font-size: 21px;
  margin-right: 520px;
  color: #111861;
}

.ppp a {
  color: #111861;
  text-decoration: none;
}

.ppp a:hover {
  text-decoration: underline;
  color: #45a;
}

.danger-alert {
  background-color: #f8d7da;
  border: 1px solid #dc3545;
  color: #721c24;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  border-radius: 5px;
}

.success-alert {
  background-color: #d4edda;
  border: 1px solid #28a745;
  color: #000;
  padding: 10px;
  font-family: Arial, sans-serif;
  border-radius: 5px;
}
/* Styles pour les champs requis vides */
.form-group input.errors {
  border: 1px solid red;
  background-color: #ffeeee;
}

.form-group p.errors {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
}
