@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Poppins:ital,wght@1,500&display=swap');

.loginpage_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 50px;
    width: 100%;
}

.formDiv {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -75px;
    width: 100%;
    max-width: 570px;
    text-align: center;
}

.formDiv .signupformu{
    color: #111861;
    font-size: 30px;
    font-weight: bold; 
    background: white;
    margin-top: 30px;
    text-align: center;
    margin-left: 10px;
}

.inputDev {
    display: flex;
    flex-direction: column; /* Met le label au-dessous de l'input */
    align-items: flex-start; /* Aligne les éléments à gauche */
    margin-bottom: 10px;
    position: relative;
}

.inputDev label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 19px; /* Espacement entre l'input et le label */
}

.inputDev input[type='text'],
.inputDev input[type='email'],
.inputDev input[type='password'] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    bbackground: transparent; 
}

.inputDev .icon {
    position: absolute;
    top: 74%;
    right: 20px;
    transform: translateY(-50%);
    color:#111861;

}

.inputDev .icon span {
    color: #777;
    margin-right: 10px;
}

.footerDiv_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.footerDiv_flex .texte {
    margin-right: 10px;
    margin-top: 0px;
    font-size: 16px;
    color: black;
}

.forgot {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    color:#111861;
    margin-right: 300px;
}

.forgot a {
    color: #111861; 
    text-decoration: none; 
    font-weight: bold; 
}

.forgot a:hover {
    text-decoration: underline;
    color: #111861;
}

.bottonsignin {
    margin-right: 10px;
    padding: 8px 16px;
    background-color: #111861;
    color: #fff;
    border: none;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    transition: background-color 0.3s ease;
}

.botton:hover {
    background-color: #B0C4DE;
    color: black;
}

.btn {
    margin-right: 10px;
    padding: 8px 16px;
    background-color: #111861;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.footerDiv_flex .btn:hover {
    background-color: #B0C4DE;
    color: black;
}
.danger {
    background-color: #f8d7da; 
    border: 1px solid #dc3545; 
    color: #721c24;
    padding: 10px; 
    font-family: Arial, sans-serif; 
    border-radius: 5px; 
  }