/* General Styles */
.plusBoxes,
.homeProducts {
  padding: 20px 0; /* Add padding as needed */
}

/* Plus Boxes Section */
.plusBoxes {
  border: 1px solid #111861;
  padding: 20px;
  background-color: #6d6c6c48; /* Blue color */
  margin: 20px;
  left: auto;
  right: auto;
  color: #fff; /* Text color */
  padding: 15px; /* Add padding as needed */
  display: flex;
  flex-direction: column; /* Arrange items in one column */
  align-items: center; /* Align items horizontally */
}

.plusBoxes .row {
  
  margin-top: 0px; /* Add margin to separate from other sections */
}

.plusBoxes .col {

  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: center; /* Center items horizontally */
  gap: 0px; /* Add space between columns */
}

.plusBoxes .col > div {
  margin: 0;
  padding: 0px; /* Add padding as needed */

  flex: 1; /* Distribute space evenly among columns */
  margin-bottom: 0px; 
  display: flex; /* Ensure images and paragraphs are in a row */
  align-items: center; /* Align items vertically */
}

/* Plus Boxes Images */
.plusBoxes img {
  filter: brightness(0) invert(0); /* Make images white */

  max-width: 50px;
  max-height: 50px;
  margin-right: 10px; /* Add space between icon and paragraph */
}
.plusBoxes p {
  font-weight: 450;
  font-size: 18px;
  color: #333;
  margin: 0px; /* Reset default margin */
}

.homeProducts {
  margin: 20px 40px;
  padding: 0px;
  background-color: #fff;
  border: 1px solid #3333337c;
  border-radius: 5px;
  border-bottom: none;
  margin-bottom: 0;
}
.homeProducts .new{
  margin-bottom: 0px;
  padding: 10px 25px;
}
.homeProducts .new label {
  font-size: 34px;
  font-weight: 450;
  color: #333;
  margin-top: 10px;
}
.homeProducts .pre{
  background-color: #333;
  margin-bottom: 0px;
  padding: 10px 25px;
}
.homeProducts .pre label{
  font-size: 34px;
  font-weight: 450;
  color: #ffffff;
}
.homeProducts .pre .more{
  color: aqua;
}
.productRow {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}
.item {
  flex: 0 0 calc(20% - 20px);
  margin-bottom: 10px;
}
.more {
  color: #0000007a;
  text-decoration: none;
  font-weight: bold;
  margin: 0px;
  padding: 0px 25px;
  font-size: 23px;
  font-weight: 400;
  right: 35px;
  position: absolute;
  transition: color 0.3s ease;
}
.more:hover {
  text-decoration: none;
  color: #111861;
}
