/* Container styles */
.favorites-page {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Heading styles */
.favorites-page label {
  font-size: 26px;
  font-weight: 500;
  color: #333;
}

/* Table styles */
.favorites-table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

.favorites-table th,
.favorites-table td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.favorites-table th {
  background-color: #f2f2f2;
  font-size: 16px;
}

/* Image styles */
.favorites-table td img {
  width: 80px;
  height: auto;
  border-radius: 2px;
}

/* Action icons styles */
.favorites-table td:last-child {
  text-align: center;
}

.favorites-table button.icon,
.favorites-table button.icons {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.favorites-table button.icon:hover svg,
.favorites-table button.icons:hover svg {
  color: #2433d67e; /* Adjust color as needed */
}
.name{ 
  color: black;
  font-size: 20px;
}
.favorites-table button.icon {
  color: #111861;
}

.favorites-table button.icons {
  color: #8b0000;
}

.table-icones {
  display: flex;
  gap: 5px; /* Adjust the gap as needed */
}
