/* General Styles */
.listingData{
  margin: 0;
  padding: 10px;
}
.row {
    margin: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    margin-bottom: 10px;
  }
  
  .sidebarWrapper {
    flex: 0 0 20%;
  }
  
  .rightContent {
    flex: 1;
    box-sizing: border-box;
    border-left: 2px solid #ddd;
    margin-top: 15px;
    padding: 15px 25px;
    position: relative;
  }
  .productrow {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust the minmax value as needed */
    grid-gap: 10px; /* Adjust the gap between grid items */
  }
  /* Features Styles */
.features {
  position: relative;
}

.features button {
  margin-bottom: 20px;
  width: auto;
  color: #000000e5;
  font-size: 16px;
  font-weight: 550;
  background: #fff;
  border: 1px solid #33333383;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.features button:focus {
  outline: none;
}

.features svg {
  margin-right: 5px;
}

.features ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  /* Change the top to 100% */
  top: calc(90% + 5px); /* Adjust the vertical spacing as needed */
  /* Set left to 0 to align with the left side of the button */
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.features ul li {
  padding: 0px;
}

.features ul li button {
  background: none;
  color: #000;
  border: none;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: left;
}

.features ul li button:hover {
  background-color: #111861a4;
  color: #fff;
}

  /* Sidebar Styles */
  
  .sidebarWrapper h4 {
    font-size: 29px;
    font-weight: 600;
    position: relative;
    padding-bottom: 0px;
    margin-bottom: 5px;
    margin-top: 0px;
  }

  .sidebarWrapper .sidebar .card {
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    margin: 15px 20px;
  }
  
  .catItem {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #000;
    text-align: center;
    padding: 0px 10px;
  }
  
  .catItem:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #1118613f;
  }
  
  .rounded-circle {
    background: #111861;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card .slider {
    color: #111861;
    font-size: 17px;
  }
  
  .priceRange span {
    font-size: 17px;
    font-weight: 600;
    display: flex;
    padding-top: 5px;
    padding-bottom: 0px;
  }
  
  .priceRange span strong {
    color: #111861;
    font-size: 18px;
  }
  
  .filters {
    padding: 10px 0px;
  }
  
  .card h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .filters ul {
    max-height: 200px;
    overflow-y: auto;
  }
  
  .filters ul::-webkit-scrollbar {
    width: 10px !important;
  }
  
  .filters ul::-webkit-scrollbar-thumb {
    background: #ccc !important;
  }
  
  .filters ul li {
    width: 100%;
    margin-bottom: 0px;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
  }
  
